# Scraping & APIs
requests
beautifulsoup4
praw   # Pour scraper Reddit
tweepy  # Pour scraper Twitter
yfinance  # Pour récupérer les prix de cryptos

# NLP & FinBERT
# transformers
#torch
nltk
sentencepiece

# Machine Learning
numpy
pandas
scikit-learn
catboost

# Data Visualisation
matplotlib
seaborn

# Portfolio & Finance
quantstats
statsmodels

# FastAPI & Déploiement
fastapi
uvicorn

# # Tests
# pytest
spacy