# 📌 Web Scraping & APIs
requests
beautifulsoup4
praw
tweepy
yfinance

# 📌 NLP & Sentiment Analysis
nltk
spacy
sentencepiece
transformers
torch

# 📌 Machine Learning
numpy<2.0  # Éviter les conflits avec CatBoost
pandas
scikit-learn
catboost

# 📌 Data Visualization
matplotlib
seaborn

# 📌 Portfolio & Finance
quantstats
statsmodels

# 📌 FastAPI & Déploiement
fastapi
uvicorn

# 📌 Tests et Développement
pytest
httpx
